<!DOCTYPE html>
<html>
    <body>

        <h2>HTML Forms</h2>
        <form action="/submit",method='post'>
            <label for="Science">Science</label><br>
            <input type="text",id="science" name="science" value="0"><br>
            <label for="Maths">Maths</label><br>
            <input type="text",id="maths" name="maths" value="0"><br>
            <label for="ds">ds</label><br>
            <input type="text",id="ds" name="ds" value="0"><br>
            <label for="dbms">dbms</label><br>
            <input type="text",id="dbms" name="dbms" value="0"><br>
            <input type="submit" value="Submit">
        </form>
        <p>If you click "Submit" button, the form data will be sent to page to "/submit".</p>
    </body>
</html>